body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.checkOpen {
    border-width: 2px;
    border-color: greenyellow;
    border-style: solid;

}

.checkClosed {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

.emptySpace {
    height: 300px;
}

.wideBtn {
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
}
.breathe {
    padding: 0.5em;
    margin: 0.5em;
}